html {
  background-color: #333941;
  background-image: url("../images/line.svg");
  background-repeat: repeat-x;
  background-size: 12px;
    font-family: 'Bitter', serif;
}

main {
  background-color: #292E37;
  width: 80%;
  margin: auto;
  color: #fff;
  margin-top: 1em;
}

.color {
  color: #E77F60;
}

.icon {
  width: 96px;
}
